# Comparision Operators

### **Equality operator (Numbers)**

In [ ]:
ticket_number = 1234
if ticket_number == 1234:
 print("Yeah, You won a prize")

Yeah, You won a prize

### **Equality operator (Numbers)**
When you're comparing strings, the equality operator is case-sensitive.
"Rose" does not equal "rose."

In [ ]:
flower = "Rose"
if flower == 'Rose':
  print("Yes, It's a rose")

Yes, It's a rose

### **Not Equals Operator**

In [ ]:
ticket_number = 1234
if ticket_number == 1234:
 print("Better luck next time")

Better luck next time

### **> is greater than Operator**

In [ ]:
num = 11
if num > 10:
  print("Number is greater than 10")

Number is greater than 10

### **< is less than**

In [ ]:
num = 9
if num < 10:
  print("Number is less than 10")

Number is less than 10

### **>= is greater than or equal to**

In [ ]:
num = 10
if num >= 10:
  print("Number is greater than or equal to 10")

Number is less than or equal to 10

### **<= is less than or equal to**

In [ ]:
num = 10
if num <= 10:
  print("Number is less than or equal to 10")

Number is less than or equal to 10