# Simple if conditions

In [ ]:
species = "cat"
if species == "cat":
  print("Yep, It's Cat !")

Yep, It's Cat !

In [ ]:
num = 5
if num > 4:
  print("Number is greater than 4")

Number is greater than 4

In [ ]:
if 2 + 2 == 4:
  print("2 + 2 is equal to 4")

2 + 2 is equal to 4

# if else conditions

In [ ]:
car = "BMWW"
if car == 'BMW':
  print("Yes, It's BMW")
else:
  print("It's not BMW")

It's not BMW

# if else and elif(else if) Conditions

In [37]:
score = 85

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B